{% extends 'parts/base.html'%}
{% block body  %}


    <style>

       h1{
           color: #0a3622;

       }
        form {
            margin-top: 20px;
        }
        textarea {
            width: 100%;
            padding: 10px;
            border: 4px solid #ccc;
            border-radius: 5px;
            resize: vertical;
        }
        button {
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #555;
        }
        .post {
            margin: 20px 0;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
    </style>

<body>

    <div class="container">
        <h1>You are now posting as {{ name }}</h1>
        <form action="{% url 'post' name=name %}" method="post">
            {% csrf_token %}
            <textarea id="pub-content" name="pub" required placeholder="Type your post"></textarea>
            <button type="submit">Post</button>
        </form>
        {% for datum in data %}
                <div class="post">
                    <p><strong>{{ datum.user }}</strong>: {{ datum.content }}</p>
                </div>
        {% endfor %}
    </div>
</body>


{% endblock %}