<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post {{ name }}</title>

</head>
<body>
<p> You are now posting as {{ name }}</p>
<form action="{% url 'post' name=name %}" method="post">
    {% csrf_token %}
    <textarea id="pub-content" name="pub" placeholder="Type your post"></textarea>
    <button type="submit">Post</button>
    {% for datum in data %}
        {% if datum.user == user %}
            <p>
                {{ name }} : {{ datum.content }}
            </p>

        {% endif %}
    {% endfor %}

</form>

</body>
</html>
